[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
atomicwrites = "*"
pytest = "*"
exceptiongroup = "*"
selenium = "*"
pytest-xdist = "*"

[requires]
python_version = "3.8"
